$color-1: #333;
$color-2: #444;
$color-3: #6b6b6b;
$color-text: #fcfcfc;
$color-accent: #ffd300;

$shadow-outside: 0 0 15px rgba(41, 41, 41, 1);

$x-desktop-bp: 1399.98px;
$desktop-bp  : 1199.98px;
$tablet-bp   : 991.98px;
$reverse-bp  : 767.98px;
$mobile-bp   : 575.98px;