.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2.5rem;
    height: 2rem;

    background: none;
    cursor: pointer;
    border: none;

    @include breakpoint($tablet-bp) {
        display: flex;
    }

    &::before,
    span,
    &::after {
        display: block;
        width: 100%;
        height: 2px;

        content: "";
        background-color: $color-text;

        transition: transform 0.3s;
    }

    &--active::before {
        transform: translateY(9px) rotate(45deg);
    }

    &--active span {
        transform: scale(0);
    }

    &--active::after {
        transform: translateY(-9px) rotate(-45deg);
    }
}